<%= form_for(@customer_feedback) do |f| %>
  <% if @customer_feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_feedback.errors.count, "error") %> prohibited this customer_feedback from being saved:</h2>

      <ul>
      <% @customer_feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_name %><br />
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :person_name %><br />
    <%= f.text_field :person_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :tel_no %><br />
    <%= f.text_field :tel_no %>
  </div>
  <div class="field">
    <%= f.label :fax_no %><br />
    <%= f.text_field :fax_no %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :req_detail %><br />
    <%= f.text_area :req_detail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
