<h1>Listing customer feedbacks</h1><hr>
<style>
 h3{color:black;}
</style>
<% @customer_feedbacks.each do |customer_feedback| %>
<div id ="feedback" style = "background:#F8F8F8;color:#461919;padding:20px;">

<h3> Company Name </h3>
<p><%= customer_feedback.company_name %></p>

<h3> Person Name</h3>
<p><%= customer_feedback.person_name %></p>

<h3> Address</h3>
<p><%= customer_feedback.address %></p>

<h3> Telephone Number </h3>
<p><%= customer_feedback.tel_no %></p>

<h3> Fax Number </h3>
  <% if !customer_feedback.fax_no.empty? %>
    <p><%= customer_feedback.fax_no %></p>
  <% else %>
    <p> no fax number </p>
<% end %>

<h3> Email : </h3>
<p><%= customer_feedback.email %></p>

<h3> Requirement Detail: </h3>
<p><%= customer_feedback.req_detail %></p>
<hr>
</div>
<% end %>
